.Dmain {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.Dring1 {
  width: 100%;
  height: 570px;
  background-image: url(../../assets/Ellipse12.png);
  margin: auto;
  display: flex;
}

.Dring2 {
  width: 100%;
  height: 472px;
  background-image: url(../../assets/Ellipse11.png);
  margin: auto;
  display: flex;
}

.Dring3 {
  min-width: 100%;
  height: 390px;
  background-image: url(../../assets/Ellipse14.png);
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.Dpopup {
  width: 297px;
  height: 294px;
  background: rgba(66, 76, 27, 0.2);
  border: 3px solid var(--green);
  box-shadow: 7px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  margin: auto;
}

.DPcancel {
  z-index: 10;
left: 91.07%;
top: -3.5%;
width: 39px;
position: relative;
}

.Dcheck {
  background-color: var(--green);
  display: flex;
  align-content: center;
  justify-content: center;
  height: 139px;
  border: 1px solid #cfff0b;
  box-shadow: 7px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  left: -0.5%;
  top: -14%;
  position: relative;

  box-sizing: border-box;
  width: 102%;
}

.DCimg {
  width: 52px;
  margin: auto;
}

.Dtxt {
  text-align: center;
  width: 213px;
  margin: auto;
  position: relative;
  top: -35px;
}
.DTbody {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 12px;
}

.DTbold {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  margin-top: 0%;
}
