.Cart {
  background: #d9d9d9;
  min-height: 88vh;
}

.Cheader {
  background-color: #000;
  color: #fff;
  border-radius: 0 0 1.5rem 1.5rem;
  display: flex;
  padding: 2.7rem 1.4rem;
  justify-content: space-between;
  align-content: center;
}

.Cheader > h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.Cfoods {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem 1.2rem;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 20rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.Cfoods::-webkit-scrollbar {
  display: none;
}

.Ccheckout {
  margin: 1.5rem 1.2rem;
  max-width: 21rem;
  position: absolute;
  bottom: 4rem;
}

.CCpromo {
  border-radius: 0.5625rem;
  height: 2.875rem;
  border: none;
  background: #fff;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 1.2rem;
}

.CCpromo > input {
  margin: auto 0.5rem auto 0.9rem;
  border: none;
  height: 2rem;
  outline: none;
}
.CCpromo > p {
  color: #000000;
  border-radius: 9px;
  width: 11.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin: auto 0.8rem auto auto;
}

.CCtxt {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.CCTst {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 0.5;
}
.CCTst > p {
  margin: 0;
}

.CCTtotal {
  display: flex;
  justify-content: space-between;
  color: #1a1a1a;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
}

.CCTtotal > p {
  margin: 0;
}

.CCbtn {
  height: 2.875rem;
  width: 21.0625rem;
  border-radius: 0.5625rem;
  background: #1a1a1a;
  margin: 0 auto;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
