.Cartbtn{
    background-color: var(--green);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 57px;
    height: 34px;
    border-radius: 9px;
    font-size: 15px;
    font-weight: 900;
    border: none;
}
.Cartbtn>p{
    margin: auto;
}
.Cicon{
    width: 21px;
    height: 21px;
    margin: auto;
}