.FCicon {
  width: max-content;
  min-width: 100px;
  height: 29px;
  border-radius: 8px;
  padding: 0.25rem;
  background-color: #fffcfc;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: 13px;
  font-weight: 600;
  align-items: center;

}
.FCicon>img{
    width: 20px;
}

.FCicon>p{
    display: block ruby;
    font-family: inherit;
    margin: auto 0px;
}
