.Fcard {
  background-color: white;
  border-radius: 1.125rem;
}

.FCimg {
  border-radius: 18px;
  height: 113px;
  width: 145px;
}

.FCVimg {
  width: 100%;
}

.FCtxt {
  align-content: baseline;
  padding: 5px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
}

.FCTname {
  word-wrap: normal;
  width: min-content;
}

.FCTprice {
  margin-bottom: 1rem;
  align-self: end;
}

.FCVtxt {
  align-content: baseline;
  padding: 1.4rem;
  padding-bottom: 0rem;
}



.FCVTmain {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-between;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.FCVTmain > p {
  margin: 0px;
}

.FCVTmain > p:first-of-type {
  min-width: 13rem;
  text-align: left;
}

.FCVTweight {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  margin: 11px 0;
}

.FCCimg {
  min-width: 6.4375rem;
  min-height: 5.8125rem;
  border-radius: 0.625rem 0rem 0rem 0.625rem;
}

.FCCtxt {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 1.25rem 1rem 0.8rem;
  justify-content: space-between;
  min-width: 12rem;
}

.FCCTmain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.FCCTmain > p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 600;
  max-width: 10rem;
}

.FCCTweight {
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 0.5;
  margin: 0 auto 0 0;
}
