:root {
  --back-color: #06bcc1;
  --black: #1f1f1f;
  --deep-black: #000000;
  --white: #ffffff;
  --green: #cfff0b;
}

#root {
  font-family: "Inter", sans-serif;
  color: var(--dull);
  background-color: var(--black);
  height: 100%;
}

body {
  margin: auto;
  width: 375px;
  height: 812px;
  margin-top: 4rem;
  background-color: bisque;
}

a {
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: column;
  width: 145px;
  height: 182px;
  border-radius: 18px;
}
.home > div {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
}

#search:focus {
  outline: none;
}

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 40.5rem;
}
.view > img {
  width: max-content;
}

.cart {
  height: 5.8rem;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  justify-content: space-between;
  border-radius: 0.625rem;
  margin: 0;
  border: none;
  color: #000000;
  transition: transform 420ms ease-out;
}

.cart:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 4px 2px rgba(155, 214, 66, 0.3);
}

.payment {
  height: 812px;
  background-image: url(../src/assets/map.png);
}
