:root {
  --back-color: #06bcc1;
  --black: #1f1f1f;
  --deep-black: #000000;
  --white: #ffffff;
  --green: #cfff0b;
}

#root {
  font-family: "Inter", sans-serif;
  color: var(--dull);
  background-color: var(--black);
  height: 100%;
}

body {
  margin: auto;
  width: 375px;
  height: 812px;
  margin-top: 4rem;
}

.home{
  display: flex;
  flex-direction: column;
  width: 145px;
  height: 182px;
  border-radius: 18px;

}
.home>div{
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;
}
